body {
    margin: 0;
}
.container {
    background-color: #1F2937;
    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
    margin-top: 0;
    padding-left: 150px;
}

.headerlinks {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
    margin-left: auto;
    padding-right: 150px;
}

.headerlinks div {
    padding: 20px;
}

.main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    padding: 0;
    margin: 0;
    padding-left: 150px;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
    padding: 0;
    margin: 0;
    padding-left: 150px;
}

.secondaryheader {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 50px;
}

.picture {
    background-color: #1F2937;
    padding-bottom: 100px;
    padding-right: 50px;
}

.sheadtext {
    margin-right: 150px;
}

.bottomheader {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.boxes{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding-left: 250px;
    padding-right: 250px;
}

.box {
    width: 200px;
    height: 200px;
    border: 5px solid #3882F6;
    border-radius: 20px;
    padding: 5px;
    color: #1F2937;
    font-family: "Roboto", sans-serif;
}

.t {
    padding-top: 200px;
    font-size: 18px;
    color: #1F2937;
    font-family: "Roboto", sans-serif;
    padding-bottom: 100px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    background-color: #E5E7EB;
    margin-top: 50px;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
}

.sign {
    padding-left: 600px;
    padding-top: 50px;
}

.bluebutton {
    width: 1000px;
    height: 150px;
    border-radius: 20px;
    color: white;
    background-color: #3882F6;
    margin:auto;
    margin-bottom: 100px;
}

.bluetext {
    font-family: "Roboto", sans-serif;
    padding-left: 100px;
    padding-top: 55px;
    font-weight: bold;
    font-size: 20px;
}

.subbluetext {
    font-family: "Roboto", sans-serif;
    padding-left: 100px;
}